# **Exercício de Casa - Karine Lessa** 

##### Cidade escolhida: Maceió
##### Ano escolhido: 2023

Instruções da atividade:   
- calcular a média da temperatura da amostra
- retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'
- copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)
- Bônus: normalizar coluna (qualquer uma)
- Bônus II: pesquisar sobre outras formas de processamento de dados além das vistas em sala de aula

In [30]:
#Importar as bibliotecas 

import pandas as pd
import numpy as np

In [14]:
# Leitura do arquivo CSV
df = pd.read_csv('MACEIO_2023.CSV', delimiter=';', skiprows=8, encoding='latin1')

In [15]:
# Exibe as 5 primeiras linhas
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1005,9",1006,"1005,8",NaN,"25,5",24,"25,5","25,2",24,"23,4",91.0,89.0,91.0,109.0,"2,5","1,1",NaN
1,2023/01/01,0100 UTC,"4,8","1006,1","1006,4","1005,9",NaN,"23,6","23,3","25,6","23,6","24,2","23,1",98.0,90.0,98.0,29.0,"8,6",",9",NaN
2,2023/01/01,0200 UTC,0,"1005,5","1006,1","1005,5",NaN,"23,4","23,1","23,7","23,3","23,4",23,98.0,98.0,98.0,119.0,"1,7",",3",NaN
3,2023/01/01,0300 UTC,0,"1004,5","1005,5","1004,5",NaN,"23,4","23,3","23,6","23,3","23,3",23,99.0,98.0,99.0,90.0,",9",",2",NaN
4,2023/01/01,0400 UTC,0,"1003,8","1004,5","1003,8",NaN,"23,3","23,2","23,6","23,3","23,4","23,2",99.0,99.0,99.0,238.0,"1,4",",7",NaN

In [31]:
#Retornando os tipos de dados de cada coluna no DataFrame.
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                          object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     object
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)           object
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)          object
RADIACAO GLOBAL (Kj/m²)                                   object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)              object
TEMPERATURA DO PONTO DE ORVALHO (°C)                      object
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          object
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 float64
UMIDADE RELATIVA DO AR, HORARIA (%)                      float64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     float64
VENTO, RAJADA MAXIMA (m/s)                                object
VENTO, VELOCIDADE HORARIA (m/s)                           object
Unnamed: 19                                              float64
dtype: object

In [32]:
# 1- Substituindo ',' por '.'
temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].replace(',', '.', regex=True)
temperatura

0       25.5
1       23.6
2       23.4
3       23.4
4       23.3
        ...
8755    28.9
8756    28.3
8757    27.2
8758    26.5
8759    26.2
Name: TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), Length: 8760, dtype: object

Exercício: Calcular a média da temperatura da amostra:

In [33]:

# Transformando a coluna em float 
# calculando a média da temperatura 

coluna_temperatura_maxima = pd.to_numeric(df['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'], errors='coerce')
coluna_temperatura_maxima.mean()

np.float64(25.90684931506849)

Exercício: Retirar os nulos da coluna Radiação Global (Kj/m²)

In [54]:
# Verifica valores nulos
nulos = df.isnull()
nulos

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8756,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8758,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
8759,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True

In [53]:
#Retirar os nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'

remover_nulos = df['RADIACAO GLOBAL (Kj/m²)']
remover_nulos.isnull().sum()
nulos_removidos = remover_nulos.dropna()
nulos_removidos

9        142,9
10       898,8
11      1718,2
12      1715,9
13      2527,4
         ...
8753      3080
8754    2418,3
8755    1466,2
8756     338,2
8757      71,4
Name: RADIACAO GLOBAL (Kj/m²), Length: 4070, dtype: object

Exercício 3: copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)

In [51]:
# Selecionar 3 colunas específicas
df_reduzido = df[['Data', 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)', 'VENTO, RAJADA MAXIMA (m/s)']]
df_reduzido

,Data,TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),"VENTO, RAJADA MAXIMA (m/s)"
0,2023/01/01,"25,5","2,5"
1,2023/01/01,"25,6","8,6"
2,2023/01/01,"23,7","1,7"
3,2023/01/01,"23,6",",9"
4,2023/01/01,"23,6","1,4"
...,...,...,...
8755,2023/12/31,"30,8","9,2"
8756,2023/12/31,"29,7","8,1"
8757,2023/12/31,"28,3","8,1"
8758,2023/12/31,"27,2","6,6"
8759,2023/12/31,"26,5","5,5"

In [55]:
# Selecionar 1000 linhas aleatórias
df_reduzido = df_reduzido.sample(n=1000, random_state=42)
df_reduzido

,Data,TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),"VENTO, RAJADA MAXIMA (m/s)"
6056,2023/09/10,"21,9","2,2"
5556,2023/08/20,"23,2","6,2"
5990,2023/09/07,"24,7","9,6"
7674,2023/11/16,NaN,NaN
3319,2023/05/19,"23,8","3,5"
...,...,...,...
1071,2023/02/14,"31,5","8,5"
2968,2023/05/04,"31,5","7,5"
2436,2023/04/12,"29,7","5,5"
6143,2023/09/13,"24,6","5,1"
5121,2023/08/02,"22,8","2,1"