In [19]:
import pandas as pd

df = pd.read_csv('BSB-2023.CSV', delimiter=';', skiprows=8, encoding='latin1')

In [20]:
df_amostra = df.sample(n=20)

In [21]:
df_amostra.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
6219,2023/09/17,0300 UTC,0,"888,9","889,4","888,9",NaN,23,"13,4","23,3","20,7","14,4","13,4",66.0,54.0,55.0,77.0,5,"2,6",NaN
6478,2023/09/27,2200 UTC,0,"884,3","884,3","883,7",NaN,"23,7","17,3","25,1","23,7","17,8","17,3",67.0,63.0,67.0,296.0,"6,1","1,8",NaN
1333,2023/02/25,1300 UTC,0,"888,5","888,6","888,3","2591,4","25,8",18,"25,9","24,5","18,4","17,2",67.0,62.0,62.0,67.0,"6,7","3,3",NaN
4840,2023/07/21,1600 UTC,0,"894,1","894,8",894,"2717,8","22,5","11,2","23,5","21,4","12,4","11,2",55.0,47.0,49.0,94.0,"10,8","6,1",NaN
2655,2023/04/21,1500 UTC,0,887,888,887,"2822,1","22,9","15,7","23,3","21,5","16,1","14,4",66.0,61.0,64.0,91.0,"6,9","3,6",NaN

In [22]:
df_amostra = df_amostra[['Data', 'Hora UTC', 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)', 'UMIDADE RELATIVA DO AR, HORARIA (%)', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)']]

In [23]:
df_amostra

,Data,Hora UTC,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
6219,2023/09/17,0300 UTC,23,55.0,0
6478,2023/09/27,2200 UTC,"23,7",67.0,0
1333,2023/02/25,1300 UTC,"25,8",62.0,0
4840,2023/07/21,1600 UTC,"22,5",49.0,0
2655,2023/04/21,1500 UTC,"22,9",64.0,0
4611,2023/07/12,0300 UTC,17,67.0,0
5922,2023/09/04,1800 UTC,31,31.0,0
3366,2023/05/21,0600 UTC,"15,5",66.0,0
3823,2023/06/09,0700 UTC,"13,1",86.0,0
793,2023/02/03,0100 UTC,"21,4",71.0,0
8701,2023/12/29,1300 UTC,"28,5",56.0,0
5786,2023/08/30,0200 UTC,"19,9",82.0,7
7924,2023/11/27,0400 UTC,"21,6",83.0,0
4459,2023/07/05,1900 UTC,"22,4",35.0,0
5062,2023/07/30,2200 UTC,"23,4",39.0,0
1740,2023/03/14,1200 UTC,21,79.0,0
7767,2023/11/20,1500 UTC,"22,2",78.0,0
2873,2023/04/30,1700 UTC,"16,5",92.0,"21,6"
1294,2023/02/23,2200 UTC,"20,8",78.0,0
2881,2023/05/01,0100 UTC,"18,5",87.0,0

In [24]:
df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].replace(',', '.', regex=True)

In [25]:
df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] = df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'].replace(',', '.', regex=True)

In [26]:
df_amostra.head()

,Data,Hora UTC,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
6219,2023/09/17,0300 UTC,23,55.0,0
6478,2023/09/27,2200 UTC,23.7,67.0,0
1333,2023/02/25,1300 UTC,25.8,62.0,0
4840,2023/07/21,1600 UTC,22.5,49.0,0
2655,2023/04/21,1500 UTC,22.9,64.0,0

In [27]:
df_amostra.dtypes

Data                                             object
Hora UTC                                         object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)     object
UMIDADE RELATIVA DO AR, HORARIA (%)             float64
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                 object
dtype: object

In [28]:
df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = pd.to_numeric(df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'], errors='coerce')

In [29]:
df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] = pd.to_numeric(df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'], errors='coerce')

In [30]:
df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] = pd.to_numeric(df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'], errors='coerce')

In [31]:
df_amostra.dtypes

Data                                             object
Hora UTC                                         object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)    float64
UMIDADE RELATIVA DO AR, HORARIA (%)             float64
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                float64
dtype: object

In [32]:
df_amostra.head(20)

,Data,Hora UTC,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
6219,2023/09/17,0300 UTC,23.0,55.0,0.0
6478,2023/09/27,2200 UTC,23.7,67.0,0.0
1333,2023/02/25,1300 UTC,25.8,62.0,0.0
4840,2023/07/21,1600 UTC,22.5,49.0,0.0
2655,2023/04/21,1500 UTC,22.9,64.0,0.0
4611,2023/07/12,0300 UTC,17.0,67.0,0.0
5922,2023/09/04,1800 UTC,31.0,31.0,0.0
3366,2023/05/21,0600 UTC,15.5,66.0,0.0
3823,2023/06/09,0700 UTC,13.1,86.0,0.0
793,2023/02/03,0100 UTC,21.4,71.0,0.0
8701,2023/12/29,1300 UTC,28.5,56.0,0.0
5786,2023/08/30,0200 UTC,19.9,82.0,7.0
7924,2023/11/27,0400 UTC,21.6,83.0,0.0
4459,2023/07/05,1900 UTC,22.4,35.0,0.0
5062,2023/07/30,2200 UTC,23.4,39.0,0.0
1740,2023/03/14,1200 UTC,21.0,79.0,0.0
7767,2023/11/20,1500 UTC,22.2,78.0,0.0
2873,2023/04/30,1700 UTC,16.5,92.0,21.6
1294,2023/02/23,2200 UTC,20.8,78.0,0.0
2881,2023/05/01,0100 UTC,18.5,87.0,0.0

In [33]:
df_amostra.describe()

,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
count,20.000000,20.000000,20.000000
mean,21.535000,66.350000,1.430000
std,4.210298,17.753502,4.998221
min,13.100000,31.000000,0.000000
25%,19.550000,55.750000,0.000000
50%,21.900000,67.000000,0.000000
75%,23.100000,79.750000,0.000000
max,31.000000,92.000000,21.600000

In [34]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df_data = pd.DataFrame(data)

In [35]:
df_data['A+B'] = df_data['A'] * df_data['B']

In [36]:
df_data.head()

   A  B  C  A+B
0  1  4  7    4
1  2  5  8   10
2  3  6  9   18